<header>
    <!------header-top start-->
    <div class="header-top">
        <div class="container-fluid">
            <!-----row structure start----->
            <div class="row align-items-center">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="mailto:customercare@thepolicymall.com" class="email-top">
                        <img src="assets/images/icon/ico-mail.png" alt="email" width="25px">
                        <span>customercare@thepolicymall.com</span>
                    </a>
                </div>
                <div class="col-md-9 text-md-right d-none d-md-block pl-md-0">
                    <div class="top-right-nav">
                        <ul class="m-0">
                            <li><a href="javascript:">Have a Claim?</a></li>
                            <li><a href="javascript:"><img src="assets/images/icon/app-icon.png" alt="Mob">Get The App</a></li>
                            <li><a href="javascript:">Services: +91 01204874600 / +91 7428266733 </a></li>
                            <li><a href="javascript:"> Sales: +91 01204874601 / +91 7428266733</a></li>
                            <li><a href="javascript:">Contact Us </a></li>

                            <li><a href="javascript:" style="cursor: default;" class="">
                                    <i class="fa fa-whatsapp"></i>
                                    <!-- <span>+91 8765432234</span> -->
                                </a></li>
                            <!--  <li><a href="javascript:" style="cursor: default;">
                                    <img src="assets/images/icon/ico-mob.png" alt="mobile" width="15px">
                                    <span>+91 8765432234</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!---only mobile show----->
                <div class="col-md-9 text-md-right d-block d-md-none">
                    <div class="top-right-nav">
                        <ul class="m-0">


                            <li><a href="tel:+91 8765432234" class="">
                                    <i class="fa fa-whatsapp"></i>
                                    <span>+91 8765432234</span>
                                </a></li>
                            <li><a class="d-none d-md-block" href="tel:+91 8765432234">
                                    <img src="assets/images/icon/ico-mob.png" alt="mobile" width="15px">
                                    <span>+91 8765432234</span>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <!-------->



            </div>
            <!-----row structure end----->
        </div>
    </div>
    <!------header-top end-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light align-items-lg-end">
            <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" alt="policy-mall"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav align-items-center">
                    <li class="closemenu nav-item"> <a class="nav-link" routerLink="about"> ABOUT US </a> </li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">HEALTH
                            <svg viewBox="0 0 451.847 451.847" id="arrowd">
                                <path fill=" #f58634x"
                                    d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z">
                                </path>
                            </svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="closemenu dropdown-item" routerLink="health-insurance">Health Insurance</a>
                            <!-- <a class="dropdown-item" routerLink="/">Critical Illness</a> -->

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton-l"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> LIFE
                            <svg viewBox="0 0 451.847 451.847" id="arrowd">
                                <path fill=" #f58634x"
                                    d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z">
                                </path>
                            </svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-l">
                            <a class="closemenu dropdown-item" routerLink="term-insurance">Term</a>
                            <a class="closemenu dropdown-item" routerLink="">Child</a>
                            <a class="closemenu dropdown-item" routerLink="">Investment</a>
                            <a class="closemenu dropdown-item" routerLink="">Pension</a>
                            <a class="closemenu dropdown-item" routerLink="">Critical Illness</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton-m"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MOTOR
                            <svg viewBox="0 0 451.847 451.847" id="arrowd">
                                <path fill=" #f58634x"
                                    d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z">
                                </path>
                            </svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-m">
                            <a class="closemenu dropdown-item" routerLink="two-wheeler-insurance">Two Wheeler</a>
                            <a class="closemenu dropdown-item" routerLink="four-wheeler-insurance">Four Wheeler</a>
                            <a class="closemenu dropdown-item" routerLink="commercial-vehicle-insurance">Commercial
                                Vehicle</a>
                        </div>

                    </li>
                    <li class="closemenu nav-item"> <a class="nav-link " routerLink="travel-insurance"> TRAVEL </a>
                    </li>
                    <li class="closemenu nav-item"> <a class="nav-link " routerLink="corporate-insurance"> CORPORATE
                        </a> </li>
                    <li class="closemenu nav-item"> <a class="nav-link " routerLink="contact"> CONTACT US </a> </li>
                    <!-- <li class="closemenu nav-item"> <a class="nav-link " href="javascript:"><i class="fa fa-user-circle-o"></i> LOGIN </a> </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userprofile" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">{{(isLoggedIn$)?'Hi '+fName:'LOGIN'}}
                            <svg viewBox="0 0 451.847 451.847" id="arrowd">
                                <path fill=" #f58634x"
                                    d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z">
                                </path>
                            </svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userprofile">
                            <a href="javascript:" class="closemenu dropdown-item" (click)="loginpopup(loginmodal)" *ngIf="!isLoggedIn$">Login with OTP</a>
                            <a class="closemenu dropdown-item" routerLink="/userprofile/dashboard" *ngIf="isLoggedIn$">Dashboard</a>
                            <a href="javascript:" class="closemenu dropdown-item" (click)="logout()" *ngIf="isLoggedIn$">Logout</a>
                        </div>

                    </li>


                </ul>
                <!------only mobile----->
                <div class="top-right-nav d-block d-md-none">
                    <ul class="m-0">
                        <li><a href="">Claim</a></li>
                        <li><a href=""> <img src="assets/images/icon/app-icon.png" alt="Mob">Get The aApp</a></li>
                        <li><a href="">Services: 1800-444-3426 </a></li>
                        <li><a href=""> Sales: 1800-444-3426</a></li>
                        <li><a href="">Contact Us </a></li>
                        <li><a href="tel:+91 8765432234">
                                <img src="assets/images/icon/ico-mob.png" alt="mobile" width="15px">
                                <span>+91 8765432234</span>
                            </a></li>

                    </ul>
                </div>
                <!------only----->
            </div>
            <div class="user-profile text-center mt-0">
                <!-- <a class="nav-link d-flex align-items-center " style="color: #252525;font-size: 14px;"
                    href="javascript:" (click)="loginpopup(loginmodal)" *ngIf="!fName">
                    <span class="profile-circle d-inline-block mr-2"><img src="assets/images/icon/default-avtar.png"
                            alt="user"></span>
                    LOGIN </a>
                <a class="nav-link d-flex align-items-center" routerLink="user-dashboard"
                    style="color: #252525;font-size: 14px;" href="javascript:" *ngIf="isLoggedIn$">
                    <span class="profile-circle d-inline-block mr-2"><img src="assets/images/icon/default-avtar.png"
                            alt="user"></span>
                    Hi, {{fName}} </a> -->
                <a class="nav-link d-flex align-items-center" style="color: #252525;font-size: 14px;" href="javascript:"
                    *ngIf="isHomepage2">
                    <span class="profile-circle d-inline-block mr-2"><img src="assets/images/icon/default-avtar.png"
                            alt="user"></span>
                    Hi, {{fName}} </a>

            </div>
        </nav>
    </div>
</header>



<ng-template #loginmodal class="modal-dialog-centered">
    <div class="modal-header">
        <h4 class="modal-title pull-left">User Login</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" role="alert" *ngIf="step2">
            OTP has been sent to your mobile number.Please enter the OTP to login;
        </div>
        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="text" class="form-control" id="mobile" name="contactNumber" maxlength="10"
                [(ngModel)]="contactNumber" autocomplete="off">
        </div>
        <div class="form-group" *ngIf="step2">
            <label for="email">Enter OTP</label>
            <input type="email" class="form-control" id="otp" name="otp" placeholder="Enter OTP" [(ngModel)]="otp">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="getOtp()" *ngIf="!step2">Get OTP</button>
        <button type="button" class="btn btn-primary" (click)="getOtp()" *ngIf="step2">Resend OTP</button>
        <button type="button" class="btn btn-primary" (click)="doLogin()" *ngIf="step2">Submit</button>
    </div>
</ng-template>