  <!-----footer start---------->
  <footer class="">
    <img src="./assets/images/icon/footer-drow.png" alt="" width="100%" />
    <div class="footer-inner-wrapper">
        <div class="container">
            <div class="f-top-text text-center justify-content-between align-items-start  mb-4 ">
                <span clas="d-block" style="width:177px">&nbsp;</span>
                <p>
                   <img src="./assets/images/logo.png" alt="policy-mall" class="f-small-logo">
                </p>
                <p>Trinity Reinsurance Brokers Ltd.<br>

                    B 2, Sector 7, Noida,Uttar Pradesh 201301<br>

                    Licensed By - IRDAI/353 Valid till 04 Apr 2022<br>

                    <!-- <a href="assets/images/license.jpeg" download>Download License</a><br> -->

                    CIN: U01111DL1986PLC025441<br>

                    Grievance Officer : Mr. Vikas Sunil Srivastava (+91- 8800211399)
                </p>

            </div>
			<div class="menu-main-link py-4">
            <div class="row">
                <div class="col-md-2 linkbox">
                    <h5>Company</h5>
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/career">Careers</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 linkbox">
                    <h5>Library</h5>
                    <ul>
                        <li><a href="#">Knowledge Library</a></li>
                        <li><a href="javascript:" (click)="ourPartner()">Our Partners</a></li>
                        <li><a href="#">Insurance News</a></li>
                        <li><a href="https://retail.trinityinsurance.co.in/buy.php" target="_blank">Instant Buy</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>

                <div class="col-md-2 linkbox">
                    <h5>Life Insurance</h5>
                    <ul>


                        <li><a routerLink="/term"> Term</a></li>
                        <li><a routerLink="">Child</a></li>
                        <li><a routerLink="">Investment </a></li>
                        <li><a routerLink="">Pension</a></li>
                        <li><a routerLink="">Critical Illness</a></li>


                    </ul>
                </div>
                <div class="col-md-2 linkbox">
                    <h5>General Insurance</h5>
                    <ul>


                        <li><a routerLink="/two-wheeler-insurance"> Two Wheeler</a></li>
                        <li><a routerLink="/four-wheeler-insurance">Four Wheeler</a></li>
                        <li><a routerLink="/commercial-vehicle-insurance">Commercial Vehicle </a></li>
                        <li><a routerLink="/health">Health</a></li>
                        <li><a routerLink="/corporate-insurance">Corporate</a></li>
                        <li><a routerLink="/travel-insurance">Travel</a></li>
                        


                    </ul>
                </div>
                <div class="col-md-3 linkbox">
                    <h5>Reach Us</h5>
                    <p>
                        <i class="fa fa-phone-square mr-1"></i> +91 01204874600 / +91 7428266733  <br>
                        <i class="fa fa-envelope mr-1"></i><a href="mailto:customercare@thepolicymall.com" style="color: #fff;"> customercare@thepolicymall.com</a>
                    </p>
                </div>
            </div>
</div>           

<!---middle link area--->
	<div class="middle-link-area py-4">
		<div class="row">
		 <div class="col-lg-1"></div>
		<div class="col-lg-9">
			<div class="d-md-flex justify-content-between align-items-center linkarea">

				<a class="hand " routerLink="/complaint">Register a Complaint</a> |
				<a class="hand " routerLink="/complaint-handling-process">Complaint
					Handling Process</a> |
				<a class="hand " routerLink="/terms_and_conditions">Terms &amp; Conditions</a> |
				<a class="hand " routerLink="/privacy_policy">Privacy Policy</a> |
				<a routerLink="/legal-and-admin-policies">Pre and Post
					Solicitation Process</a>
			</div>
			 
		</div>
		<div class="col-md-2">
				<ul class="d-flex justify-content-between social-med-icon">
					<li><a href="https://twitter.com/thepolicymall?s=11" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/thepolicymall" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://instagram.com/thepolicymall?igshid=pkcglvxtg648" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/company/thepolicymall/about" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				</ul>

			</div>
		</div>
	</div>
<!---middle link area--->

		   <!-----middle area------>
		  
            <div class="payment-img-box pt-4 py-4">
            <div class="row">
                <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
				 <p><img src="assets/images/icon/best-price.png"></p>
				<div class="payment-method-img full-width pl-md-4">
                    <img src="assets/images/payment_methods.png">
                </div>
                </div>
                </div>
            </div>
            </div>
			<div class="footer-last-text">
				<div class="col-md-12 disclaimer linkbox">
					<p style="text-align: center;"><span style="font-style: normal;">DISCLAIMER:</span> *Subject to underwriting guidelines of Insurance companies<br>
						<span style="font-style: normal; color: #fff;">Insurance is the subject matter of solicitation. Visitors are hereby informed that their information submitted on the website may be shared with insurers.
						For more details on risk factors, terms and conditions please read policy wording carefully before concluding a sale. Tax benefits are subject to changes in taxation laws.
						Product information is authentic and solely based on the information received from the Insurer. Terms and Conditions shall apply for standard insurance plans.</span>
					</p>
				</div>
			</div>

            <!----------->
        </div>
    </div>
</footer>
<div class="footer-bottom">

    <p>Copyright © 2021 www.thepolicymall.com All rights reserved</p>
</div>
	   <!-----footer end---------->