<main>
    <section class="conmon-gap ">
        <div class="container-fluid">
            <div class="quotation-page-wrapper">
                <div class="row">
                    <!-----left side wrapper start-->
                    <div class="nooutline col-md-4 col-lg-3 login-dashboard-left-wrapper">
                        <app-usermenu></app-usermenu>
                    </div>
                    <!-----left side wrapper end-->
                    <!-----right side wrapper start-->
                    <div class="nooutline col-md-8 col-lg-9 mt-4 py-4 px-md-5">
                        <!--middle contact start--->
                        <h2 class="recent-s-h m-0">Support</h2>
                        <div class="login-support-box mt-4">

                            <!----single box--->
                            <div class="row single-l-info ">
                                <div class="col-md-5">
                                    <span class="s-i"><img src="assets/images/login-dashboard/email.png"
                                            alt=""></span>Email
                                </div>
                                <div class="col-md-7 text-right">
                                    <a href="mailto:customercare@thepolicymall.com"> customercare@thepolicymall.com
                                    </a>
                                </div>
                            </div>
                            <!----single box--->
                            <div class="row single-l-info">
                                <div class="col-md-5">
                                    <span class="s-i"><img src="assets/images/login-dashboard/phone.png"
                                            alt=""></span>Sales / Services
                                </div>
                                <div class="col-md-7 text-right">
                                    <a href=""> +91 01204874601 / +91 7428266733</a>
                                </div>
                            </div>
                            <!----single box--->
                            <div class="row single-l-info">
                                <div class="col-md-5">
                                    <span class="s-i"><img src="assets/images/login-dashboard/cellphone.png"
                                            alt=""></span>Have questions?
                                </div>
                                <div class="col-md-7 text-right">
                                    <a href="">+91 01204874600 / +91 7428266733</a>
                                </div>
                            </div>
                            <!----single box--->
                            <div class="row single-l-info">
                                <div class="col-md-5">
                                    <span class="s-i"><img src="assets/images/login-dashboard/Grievance.png"
                                            alt=""></span>Grievance
                                </div>
                                <div class="col-md-7 text-right">
                                    <a href="">Mr. Vikas Sunil Srivastava (+91- 8800211399)</a>
                                </div>
                            </div>
                        </div>
                        <!--middle contact end--->

                    </div>
                    <!-----right side wrapper end-->
                </div>
            </div>
        </div>
    </section>

</main>