<div class="career-banner d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-5">
                    Products & Plans
                </h1>

            </div>

        </div>

    </div>
</div>
<!---content area start------->
<main class="listed-plan">
    <div class="container">


        <div class="row partner-detail">
            <div class="col-sm-12">
                <table class="table mt-3" style=" border: 1px solid #d8d8d8;">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Insurer Name</th>
                            <th scope="col">Plan Name</th>
                            <th scope="col">Product Name</th>
                        </tr>
                    </thead>
                    <tbody>



                        <tr>
                            <td>Aditya Birla</td>
                            <td>Activ Assure Diamond</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Aditya Birla</td>
                            <td>Activ Health Platinum Essential</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Aditya Birla</td>
                            <td>Activ Health Platinum Enhanced</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Aditya Birla</td>
                            <td>Activ Care Standard</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Aditya Birla</td>
                            <td>Activ Care Classic</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Aditya Birla</td>
                            <td>Activ Care Premier</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Care</td>
                            <td>Care</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Care</td>
                            <td>JOY</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Care</td>
                            <td>Care Freedom</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Care</td>
                            <td>Care Senior</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Care</td>
                            <td>Care Heart</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>Care</td>
                            <td>Enhance</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>HDFC Ergo General</td>
                            <td>My Health Suraksha</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>HDFC Ergo General</td>
                            <td>Optima Restore</td>
                            <td>Health</td>

                        </tr>
                        <tr>
                            <td>HDFC Ergo General</td>
                            <td>Energy</td>
                            <td>Health</td>
                        </tr>
                        <tr>
                            <td>Star</td>
                            <td>Comprehensive</td>
                            <td>Health</td>
                        </tr>
                        <tr>
                            <td>Star</td>
                            <td>Family Health Optima</td>
                            <td>Health</td>
                        </tr>
                        <tr>
                            <td>Star</td>
                            <td>Mediclassic</td>
                            <td>Health</td>
                        </tr>
                        <tr>
                            <td>Star</td>
                            <td>Young Star</td>
                            <td>Health</td>
                        </tr>
                        <tr>
                            <td>Star</td>
                            <td>Senior Citizen Red Carpet</td>
                            <td>Health</td>
                        </tr>
                        <tr>
                            <td>Star</td>
                            <td>Diabetes Safe</td>
                            <td>Health</td>
                        </tr>
                    </tbody>
                </table>


            </div>


        </div>
    </div>

</main>
<!---content area end------->