<section class="conmon-gap my-5 py-5 testimonial_new">
    <h2 class="common-heading text-center">Our Employees<span> Speak</span></h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme carousel-speak">
                    <div class="item">
                        <div class="its">
                            <div class="test-dec">The strong ‘One Family’ culture is the key for making ThePolicyMall
                                (TRBL) as one of the best organisations to work with. </div>
                            <div class="test-name mt-2">
                                <h6>B Vasu, Assistant Manager</h6>
                            </div>
                            <div class="its-pic mt-2">
                                <!-- <img src="assets/images/icon/user.png"> -->
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="its">
                            <div class="test-dec">It has been a great growth opportunity by recognising the best of my
                                abilities. I feel glad to work in such a challenging and positive work
                                environment. </div>
                            <div class="test-name mt-2">
                                <h6>Kavita Singh, Product Manager</h6>
                            </div>
                            <div class="its-pic mt-2">
                                <!-- <img src="assets/images/icon/user.png"> -->
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="its">
                            <div class="test-dec">It is highly motivating to work with a team where everyone is driven by
                                passion and in pursuit of a common goal. I feel valued and heard. </div>
                            <div class="test-name mt-2">
                                <h6>Sushil Gaur, Senior Manager</h6>
                            </div>
                            <div class="its-pic mt-2">
                                <!-- <img src="assets/images/icon/user.png"> -->
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="its">
                            <div class="test-dec">As a newcomer, I found the transparent communication of our collective
                                aspirations to be remarkable. The firm’s leadership communicates a
                                consistent message that supports the aim of the entire team. </div>
                            <div class="test-name mt-2">
                                <h6>Sheeri Nawaz, Customer Care</h6>
                            </div>
                            <div class="its-pic mt-2">
                                <!-- <img src="assets/images/icon/user.png"> -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="its">
                            <div class="test-dec">Working at ThePolicyMall (TRBL) makes me feel being part of a Community
                                that Cares. The Communication is transparent. The team is driven into a
                                celebration at every small success. </div>
                            <div class="test-name mt-2">
                                <h6>Ravinder Singh , Sr. Team Leader </h6>
                            </div>
                            <div class="its-pic mt-2">
                                <!-- <img src="assets/images/icon/user.png"> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>