<section class="motor-details-inner-wrapper ">
    <!------banner-tab show-hide-area------>
    <div class="banner-tab-area">
        <div class="container">
            <div class="health-insurance">
                <div class="tab-head-text text-center">
                    <h1>Existing offer on <span>Motor Insurance</span></h1>
                    <p>From 10+ insurance companies</p>
                </div>
            </div>
            <div class="productformbox">

                <div class="row full-width">
                    <!---left side start-->
                    <div class="col-md-6 border-right pr-md-0">
                        <div class="tab-left-area  ">
                            <p class="right-nevigation">
                                <span><i class="fa fa-home" aria-hidden="true"></i>
                                    Home</span> >
                                Motor Insurance
                            </p>
                            <div class="big-l-block blue-text text-uppercase mb-3">
                                <h6>Instant - simple - smart</h6>
                                <h2>Motor Insurance</h2>
                            </div>
                            <p class="l-sm-info">
                                More than 50,000 satisfied customer<br>
                                Best Rates Guaranteed<br>
                                Dedicated Claims Desk
                            </p>
                            <div class="text-center">
                                <img src="assets/images/motor-details/two-whiller-1.png">
                            </div>
                        </div>
                    </div>
                    <!---left end-->
                    <!---right side start-->
                  
                    <!---right side end-->
                </div>
            </div>
        </div>
    </div>

</section>

<ng-template #successmodal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Thanks for your interest</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       We just need few of your details to book your motor insurance
       <div class="col-md-12">
        <div class="tab-right-area">
       <div class="tab-pane">
      
       </div>
       </div>
       </div>
    </div>
</ng-template>


<ng-template #successmodal1>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Success</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Your Policy is Booked and we will share you the policy very soon on your email id.
    </div>
</ng-template>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<!----container area start--->
