
    <div class="login-dashboard-left py-5">
        <ul>
            <li class="active">
                <img src="assets/images/login-dashboard/dashboard_b.png" alt="login-dashboard">
                <a routerLink="/userprofile/dashboard">Dashboard</a>
            </li>
            <li>
                <img src="assets/images/login-dashboard/policies.png" alt="login-dashboard">
                <a routerLink="/userprofile/policy_purchased">Policy Purchased</a>
            </li>
            <li>
                <img src="assets/images/login-dashboard/serches.png" alt="login-dashboard">
                <a routerLink="/userprofile/policy_searches">Policy Searches</a>
            </li>
            <!-- <li class="dropdown ">
                                    <img src="assets/images/login-dashboard/profile.png" alt="login-dashboard">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Profile</a>
                                   
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  
                                </li> -->
            <li>
                <img src="assets/images/login-dashboard/support_b.png" alt="login-dashboard">
                <a routerLink="/support">Support</a>
            </li>
        </ul>

    </div>
