<!---why choose us start--->
<section class="common-gap choose-us-wrapper">
    <h2 class="common-heading text-center">Why <span>Choose Us </span> </h2>

    <div class="choose-us-background-hld">
        <div class="container">
            <div class="row ">
                <div class="col-lg-9 mx-auto">
                    <div class="row justify-content-between custom-col">
                        <div class="col-md-4 col-lg-3">
                            <div class="choose-us-box ">
                                <div class="top-blue-circle">
                                    <img src="assets/images/icon/blue-circle.png" alt="">
                                </div>
                                <div class="choose-us-ico">
                                    <img src="assets/images/icon/best_price.png" alt="">
                                </div>
                                <h4>Best Price</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="choose-us-box ">
                                <div class="top-blue-circle">
                                    <img src="assets/images/icon/blue-circle.png" alt="">
                                </div>
                                <div class="choose-us-ico">
                                    <img src="assets/images/icon/best_comparison.png" alt="">
                                </div>
                                <h4>Unbiased<br> Comparison</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="choose-us-box ">
                                <div class="top-blue-circle">
                                    <img src="assets/images/icon/blue-circle.png" alt="">
                                </div>
                                <div class="choose-us-ico">
                                    <img src="assets/images/icon/best_service.png" alt="">
                                </div>
                                <h4>Guaranteed Claim<br> Assistance</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!---why choose us end--->
<!--- Easy Steps start--->
<section class="common-gap easy-step">
    <h2 class="common-heading text-center">4 Easy Steps <span>To Buy Your Policy</span> </h2>
    <div class="container text-center custom-container">
        <!-- <img src="images/icon/easy-plan.png" alt=""> -->
        <div class="row">
            <div class="col-md-12">
                <div class="d-md-flex align-items-center justify-content-between text-capitalize">
                    <div class="step-circle-wrapper">
                        <div class="step-circle">
                            <span>1</span>
                            <img src="assets/images/icon/enter-your-details.png" alt="">
                        </div>
                        <p>Enter Your <br />Details</p>
                    </div>
                    <div class="step-circle-wrapper">
                        <div class="step-circle">
                            <span>2</span>
                            <img src="assets/images/icon/choose-your.png" alt="">
                        </div>
                        <p>Choose your <br />plan</p>
                    </div>
                    <div class="step-circle-wrapper">
                        <div class="step-circle">
                            <span>3</span>
                            <img src="assets/images/icon/payment.png" alt="">
                        </div>
                        <p>Make payment on the insurer's portal</p>
                    </div>
                    <div class="step-circle-wrapper">
                        <div class="step-circle">
                            <span>4</span>
                            <img src="assets/images/icon/inbox.png" alt="">
                        </div>
                        <p>Get your policy instantly in your inbox*</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!--- Easy Steps us end--->
<section class="question-hld">
    <div class="container question-hld-inner-bg p-4">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="m-0"><strong>Have questions?</strong> Ask us anything, we'd love to answer!</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="tel:+9101204874600">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>+91 01204874600 / +91 7428266733</span>
                </a>
            </div>
        </div>
    </div>

</section>

<!--- OUR PARTNERS us end--->
<section class="our-partners partnersarea common-gap" id="ourpartner">
    <div class="container">
        <h2 class="common-heading text-center">Compare Top plans from below  <span>Insurance companies</span> </h2>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">


                <ul class="d-flex">
                    <li class="icon "> <img src="assets/images/partners/aditya.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/care.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/star.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/hdfc.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/max_bhupa.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/manipal.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/universal.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/kotak-gen.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/bharti.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/bajaj.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/hdfc-life.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/kotak.png" alt=""> </li>
                    <li class="icon "> <img src="assets/images/partners/download.png" alt=""> </li>
                    <!-- <li class="icon "> <img src="assets/images/partners/partners-1.png" alt=""> </li> -->
                </ul>


            </div>

        </div>
    </div>

</section>