<div>
    <img src="assets/images/career/career-v3.jpg" width="100%" alt="">
</div>
<!---content area start------->
<main class="career-page">
    <!--------slider--->
    <section class="conmon-gap mt-5 photo-galery">
        <h2 class="common-heading text-center">Our Photo <span> Gallery</span></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider-main-wrapper">



                        <!---------inner main slider -->
                        <div id="sync1" class="slider owl-carousel">
                            <div class="item">
                                <img src="assets/images/career/slider-1.jpg" alt="banner">
                            </div>

                            <div class="item">
                                <img src="assets/images/career/slider-2.jpg" alt="banner">
                            </div>
                            <div class="item">
                                <img src="assets/images/career/slider-3.jpg" alt="banner">
                            </div>

                            <div class="item">
                                <img src="assets/images/career/slider-4.jpg" alt="banner">
                            </div>
                            <div class="item">
                                <img src="assets/images/career/slider-5.jpg" alt="banner">
                            </div>



                        </div>
                        <!---slider-thumb-->
                        <div id="sync2" class="navigation-thumbs owl-carousel float-right  py-4">

                            <div class="item">
                                <img src="assets/images/career/slider-1.jpg" alt="banner">
                            </div>

                            <div class="item">
                                <img src="assets/images/career/slider-2.jpg" alt="banner">
                            </div>
                            <div class="item">
                                <img src="assets/images/career/slider-3.jpg" alt="banner">
                            </div>

                            <div class="item">
                                <img src="assets/images/career/slider-4.jpg" alt="banner">
                            </div>
                            <div class="item">
                                <img src="assets/images/career/slider-5.jpg" alt="banner">
                            </div>




                        </div>
                        <!---------inner main slider  end-->



                    </div>
                </div>
            </div>
        </div>
    </section>





    <!--------slider end--->
    <!---testimonial section----->
    <app-emp-speak></app-emp-speak>
    <!---testimonial section----->
    <!--------------->
    <section class="conmon-gap my-5 py-5">
        <h2 class="common-heading text-center">Explore <span> Opportunities</span></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!------accordian start--->
                    <div class="accordion" id="accordionExample">
                        <div class="card mb-4">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h3>Team Leader & Senior Team Leader -Sales <span>( Outbound )</span> </h3>

                                        <p class="mb-0">EXPERIENCE : 1 year +<br /> QUALIFICATION :
                                        </p>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">

                                <div class="card-body p-0">
                                    <div class="green-b-strip"></div>
                                    <div class="card-body-inner p-4">
                                        <h3>Team Leader & Senior Team Leader -Sales<span>( Outbound )</span> </h3>
                                        <p class="mb-0">EXPERIENCE : 1 year+</p>


                                        <p class="mb-0">
                                            QUALIFICATION :
                                        </p><br />



                                        <p><strong>Role Description:</strong></p>

                                        <p>
                                            1. Delivery Of Team ,Service Level Components, Quality And Productivity
                                            Targets & Indicators <br>

                                            2. People Management, As Well As Staff Development<br>

                                            3. Operational Management: Managing The Floor, Adherence To Schedule<br>

                                            4. Monitoring Calls, Coaching And Feedback, Responsibility For Delivery Of
                                            The Defined Customer Experience In Every Call<br>

                                            5. Training And Development Of Staff<br>

                                            6. Motivation, Leadership For A Team And Developing Future Leaders<br>

                                            7. Recommendations For Product And Process Development Based On Customer
                                            Feedback And Analysis Of The Same<br>

                                            8. Contribute For The Initial Hiring And Selecting Process Of The Front
                                            Line<br>

                                            9. Compiling Reports On Teams Performance And Customer Feedback<br>

                                            10. Communicating With Team And Being A Focal Point Of Dissemination Of
                                            Information From Management To Team And Vice Versa<br>

                                            11. Work Very Closely With Team Members To Solve Customer Problems.<br>

                                            12. Understand Agent's Problems And Weaknesses And Address These.<br>

                                            13. Offer Solutions And Suggestions For Process And Product Improvement To
                                            Management.
                                        </p>

                                        <p><strong>Desired Profile:</strong></p>

                                        <p>
                                            1. Should Be Able To Effectively Communicate The Purpose Of Their Company To
                                            Both Employees And Customers. <br>

                                            2. Must Be Able To Follow The Directions Of Upper Management And Possess
                                            Strong Leadership And Organization Skills Themselves.<br>

                                            3. A High Degree Of Operational Excellence With An Interest To Do Repetitive
                                            And Detailed Work.<br>

                                            4. Strong Organizational Skills In Planning Work And Managing Data<br>

                                            5. Under Graduate/ Graduate/ Post Graduate<br>

                                            6. Experience 1 year +
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h3>Quality Analyst – Pre & Post </h3>

                                        <p class="mb-0">EXPERIENCE : 1 year + </p>
                                        <p class="mb-0">QUALIFICATION : </p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body p-0">
                                    <div class="green-b-strip"></div>
                                    <div class="card-body-inner p-4">
                                        <h3>Quality Analyst – Pre & Post </h3>
                                        <p class="mb-0">
                                            EXPERIENCE : 1 year + <br />QUALIFICATION :

                                        </p>
                                        <br />



                                        <p><strong>Role Description:</strong></p>

                                        <p>
                                            1. Approves the QMS documents of which Operation Head - Sales is the main
                                            author. <br />

                                            2. Undertake internal quality audits.<br />

                                            3. Plan and conduct quality audits of subcontractors.<br />

                                            4. Maintain and update training and audit databases to provide reports /
                                            indicators for discussion during QMS management review meetings<br />

                                            5. Identify problems or deficiencies in products and QMS.<br />

                                            6. Resolve problems QMS implementation issues.<br />

                                            7. Perform Internal Quality Audit.<br />

                                            8. Participate in External Quality Audit.<br />

                                            9. Track all the software related metrics in terms of schedule, effort,
                                            defects etc.<br />

                                            10. Review the model followed by project.
                                        </p>

                                        <p><strong>Desired Profile:</strong></p>

                                        <p>
                                            1. Should Be Able To Effectively Communicate The Purpose sales & service
                                            call To Both Sales and service Team <br>

                                            2. Must Be Able To Follow The Directions Of Upper Management And Possess
                                            Strong Leadership And Organization Skills Themselves.<br>

                                            3. Strong Organizational Skills In Planning Work And Managing Data<br>

                                            4. Under Graduate/ Graduate/ Post Graduate<br>

                                            5. Experience 1 year +
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h3>Executive - Outbound </h3>

                                        <p class="mb-0">EXPERIENCE : 1 year + </p>
                                        <p class="mb-0">QUALIFICATION : </p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body p-0">
                                    <div class="green-b-strip"></div>
                                    <div class="card-body-inner p-4">
                                        <h3>Executive - Outbound </h3>
                                        <p class="mb-0">
                                            EXPERIENCE : 1 year + <br />QUALIFICATION :

                                        </p>
                                        <br />



                                        <p><strong>Role Description:</strong></p>

                                        <p>
                                            1. Responsible For Educating, Comparing And Selling Health Insurance Plans
                                            Over The Call To Interested Customers. <br>

                                            2. Selling Financial Products (Insurance) On Phone<br>

                                            3. Fully Responsible For Meeting And Exceeding Targets As Assigned
                                            Periodically<br>

                                            4. Flexible, Able To Shift Priorities To Accommodate Changing Demands.<br>

                                            5. Ensure No Losses Or Errors Occurred While Assisting Customers<br>

                                            6. Work Towards Ensuring Zero Cases Of Mis-Selling / Fraud In The Processes<br>

                                            7. Responding In A Timely And Effective Manner To All Internal
                                            Communication.<br>

                                            8. Adheres To And Supports Company Policies And Practices.
                                        </p>

                                        <p><strong>Desired Profile:</strong></p>

                                        <p>
                                            1.     Good English And Smart Worker, Should Be Efficient In Converting Interest Into Sales<br>

                                            2.     Good Selling And Negotiations Skills<br>
                                            
                                            3.     Under Graduate/ Graduate/ Post Graduate<br>
                                            
                                            4.     Fresher can also apply
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!------accordian end--->


                </div>
            </div>
        </div>
    </section>
    <!--------------->
</main>
<!---content area end------->