<div>
    <img src="assets/images/complaint-handling-process/banner.jpg" width="100%" alt="">
</div>
<!---content area start------->
<main class="complaint-handling-process">
    <section class="conmon-gap mt-5">
        <div id="fh5co-features" data-section="features">

            <section class="section_row2 text-center">
                <div class="container text-container-c">

                    <h2 class="common-heading text-center">Introduction</h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <span class="subh-c  d-block mb-4">What is a complaint?</span>
                            <span class="txth-c ">“Complaint” or “Grievance” means written expression
                                (includes communication in the form of electronic mail or other electronic scripts) of
                                dissatisfaction by a complainant about an action or lack of action about the standard of
                                service or deficiency of service regarding insurance policies bought by him or her using
                                thepolicymall services.</span>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <span class="subh-c   d-block  mb-4">Who is a complainant?</span>
                            <span class="txth-c ">“Complainant” means a policyholder or prospect or any
                                beneficiary of an insurance policy who has filed a complaint or grievance against an
                                insurer or a distribution channel</span>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <span class="subh-c   d-block  mb-4">Relevant Regulations</span>
                            <span class="txth-c ">This complaint Policy is governed by The Insurance
                                Regulatory and Development Authority of India Protection of Policyholders’ Interests
                                Regulations, 2017</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section_row2 secbgcolor">
                <div class="container text-container-c">

                    <h2 class="common-heading text-center">Guiding principles of effective<span> complaints
                            handling</span></h2>
                    <p>
                        <span class="subh-c">
                            Visibility
                            <span class="txth-c">The Complaints Handling Policy is available on the thepolicymall Website
                                and also internally. </span>
                            <span class="subh-c">Accessibility</span>
                            <span class="txth-c">thepolicymall’s Complaints Handling Policy is easily accessible and
                                available to all customers, employees and partners. The policy is easy to understand and
                                the customers get to know on how to make complaints and get them resolved. </span>
                            <span class="subh-c">Responsiveness </span>
                            <span class="txth-c">Each complaint’s receipt is acknowledged to the complainant
                                immediately. We strive to ensure that the complaints are handled in an efficient and
                                effective manner. We would treat all complaints courteously and keep complainants
                                informed of the progress of their complaint throughout the complaint-handling process.
                            </span>
                            <span class="subh-c">Objectivity</span>
                            <span class="txth-c">Each complaint is addressed in an objective and unbiased manner .
                            </span>
                            <span class="subh-c">Confidentiality</span>
                            <span class="txth-c">We maintain complete confidentiality of the client unless expressly
                                permitted by him or her. </span>
                            <span class="subh-c">Customer focused approach </span>
                            <span class="txth-c">All of us at thepolicymall, including the key management personnel, remain
                                committed to efficient and fair resolution of complaints. We actively solicit feedback
                                on a regular basis to keep improving our complaint handling policy. </span>
                        </span>
                    </p>
                </div>
            </section>

            <section class="section_row2  ">
                <div class="container text-container-c">


                    <h2 class="common-heading text-center mt-4">How a complaint<span> may be made </span></h2>
                    <p>
                        Where a complaint is about a particular engagement or an employee with whom you are familiar,
                        you may wish to address your complaint directly through electronic or otherwise communication
                        with a copy to PO@thepolicymall.com.
                        <br>
                        <br> We prefer that the complaints are made in writing so that the details of the complaint are
                        clear and complete.
                        <br>
                        <br> If you are not sure to whom to refer your complaint, or feel it is inappropriate to address
                        your complaint to a member of the engagement team, please write directly to: PO@thepolicymall.com .

                    </p>
                </div>
            </section>

            <section class="section_row2 secbgcolor">
                <div class="container text-container-c">

                    <h2 class="common-heading text-center">What information is required <span>when making a complaint?
                        </span></h2>
                    <p>
                        Please provide the following information when you are making a complaint,
                    </p>
                    <ul class="complist">
                        <li>Your name and contact details </li>
                        <li>
                            Your relationship with thepolicymall (i.e. the nature of your engagement with thepolicymall, if
                            you are a prospective or existing customer)
                        </li>
                        <li>Your contact person within thepolicymall during your last engagement</li>
                        <li>The nature of the complaint (including when the conduct giving rise to the complaint
                            occurred) </li>
                        <li>Details of the thepolicymall employee involved (if applicable) </li>
                        <li>Copies of any documentation supporting the complaint. </li>
                    </ul>
                    <p></p>
                </div>
            </section>

            <section class="section_row2 ">
                <div class="container text-container-c">
                    <h2> </h2>
                    <h2 class="common-heading text-center mt-4">Assistance</h2>
                    <p>
                        <span class="subh-c">Assistance with making a complaint</span>
                        <span class="txth-c">If you need assistance in formulating or lodging a complaint, please
                            contact customer care at <a>customercare@thepolicymall.com</a> with a copy to
                            <a>PO@thepolicymall.com</a></span>
                        <span class="subh-c"> Acknowledgement of complaints</span>
                        <span class="txth-c">We are committed to acknowledging all complaints immediately upon receipt.
                            Once a complaint has been received, we will undertake an initial review of the complaint. We
                            will endeavour to resolve complaints within four weeks of receiving the complaint, but this
                            will not be possible on all occasions. Where our review exceeds four weeks, we will contact
                            you to inform you of the reasons for the delay, and indicate to you when we expect to be in
                            a position to complete our review of the complaint. </span>
                        <span class="subh-c"> Your rights during the complaint process</span>
                        <span class="txth-c"> You have the right to enquire as to the status of your complaint by
                            contacting person who has been identified to you as handling your complaint. </span>
                        <span class="subh-c"> Response to a complaint -</span>
                        <span class="txth-c">Once we have reviewed your complaint, we will provide you with a written
                            response. </span>
                    </p>
                </div>
            </section>

            <section class="section_row2 secbgcolor">
                <div class="container  ">
                    <div class="row  ">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="container text-container-c">
                                <h2 class="common-heading text-center">Closure of<span> Complaint</span></h2>

                                <p>
                                    A complaint shall be considered as disposed of and closed when
                                </p>
                                <ul class="complist">

                                    <li>The insurer has acceded to the request of the complainant fully (or) </li>
                                    <li> Where the complainant has indicated in writing, acceptance of the response of
                                        the insurer. (or)</li>
                                    <li>Where the complainant has not responded to the insurer within 8 weeks of the
                                        insurer’s written response. </li>
                                </ul>
                                <p></p>


                            </div>
                        </div>


                        <div class="col-md-12 col-sm-12 col-xs-12 col-" style=" clear:both;">
                            <div class="container text-container-c">

                                <h2 class="common-heading text-center mt-4">Further<span> action</span></h2>
                                <p> If you are dissatisfied with the manner in which your complaint has been handled,
                                    you have the right to ask thepolicymall to let you know the details of the name and
                                    address of the Ombudsman of competent jurisdiction.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>





            <section class="section_row2 " style=" padding: 25px 0 50px;">
                <div class="container text-container-c ">

                    <h2 class="common-heading text-center">Making Complaint <span>with IRDAI</span></h2>
                    <p class="to-animate intro-animate-2 ">If you are unhappy with your insurance company in particular:
                    </p>


                    <ul class="complist ">
                        <li>
                            Approach the Grievance Redressal Officer of its branch or any other office that you deal
                            with.
                            <a style=" font-weight:bold;" target="_blank "
                                href="http://www.policyholder.gov.in/uploads/CEDocuments/complaintform.pdf ">Click here
                            </a>for mail ids of Grievance Redressal Officers, GRO, of all insurance companies
                        </li>
                        <li>Give your complaint in writing along with the necessary support documents</li>
                        <li>Take a written acknowledgement of your complaint with the date.</li>
                    </ul>

                    The insurance company should resolve your complaint within a reasonable time.

                    <span class="subh-c text-center "> In case if it is not resolved within 15 days or if you are
                        unhappy with their resolution you can:</span>

                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <div class="boxaction1 text-left">
                            <span>Approach the Grievance Redressal Cell</span> of the Consumer Affairs Department of
                            IRDAI
                            <ul class="complist ">
                                <li>Call Toll Free Number <span style=" font-weight:bold;" class="complink ">
                                        155255</span> (or) <span style=" font-weight:bold;"> 1800 4254 732</span> or
                                </li>
                                <li>Send an e-mail to <a style=" font-weight:bold;" href=" "> complaints@irda.gov.in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12  ">
                        <div class="boxaction1 text-left">
                            <span style=" font-weight:bold;">Make use of IRDAI's online portal</span> - Integrated
                            Grievance Management System (IGMS):
                            <ul class="complist ">
                                <li>Register and monitor your complaint at<a target="_blank " style=" font-weight:bold;"
                                        href="http://igms.irda.gov.in/ "> igms.irda.gov.in</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="boxaction1 text-left">
                            <span>Send a letter to IRDAI with your complaint:</span>
                            <ul class="complist ">
                                <li>
                                    <a style=" font-weight:bold;" target="_blank "
                                        href="http://www.policyholder.gov.in/uploads/CEDocuments/complaintform.pdf">Click
                                        here </a>to download Complaint Registration Form
                                </li>
                                <li>
                                    Fill and send the Complaint Registration Form along with any letter or enclosures,
                                    if felt necessary, by post or courier to:
                                    <br>
                                    <span>The General Manager,</span><br> Consumer Affairs Department - Grievance
                                    Redressal Cell, Insurance Regulatory and Development Authority of India (IRDAI)
                                    3-5-817/818, United India Towers, 9th Floor, Hyderguda,
                                    Basheerbagh, Hyderabad – 500 029
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </section>


        </div>

    </section>
</main>
<!---content area end------->