.subh-c {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
display: block;
    text-align: left;
    margin: 5px 0px;
}
.txth-c {
    display: block;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    margin: 5px 0px;
}