.searchable-dropdown {
    position: relative;
    display: inline-block;

  
  }
  
  input[type="text"] {
    
    padding: 5px;
    border: 1px solid #ccc;
    height: 40px !important;
    width: 150%;
    border: 1px solid #846f7566;
    background-color: transparent;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #846f7566;
    position: absolute;
    z-index: 1;
    background-color: #846f7566;
    width: 100%;
    max-height: 150px; /* Set a maximum height for the list */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  li {
    padding: 5px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  



  
  .checkbox-container {
    display: flex;
    flex-direction: column;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .checkbox-label input {
    margin-right: 10px;
  }
  
  /* Style the custom checkbox */
  .checkbox-label input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #aaa;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-right: 6px; /* Add consistent margin for all checkboxes */
  }
  
  .checkbox-label input[type="checkbox"]:checked {
    background-color: #2196F3;
    border: 2px solid #2196F3;
  }
  
  .checkbox-label input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 14px;
    color: white;
    position: absolute;
    top: -2px;
    left: 4px;
  }
  
  .checkbox-label input[type="checkbox"]:hover {
    background-color: #ddd;
  }
  
  /* Ensure consistent vertical alignment */
  .checkbox-label input[type="checkbox"]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .range-indicator {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .dropdown-container {
    text-align: center;
    margin: 1rem;
  }