.grand-oprning{}
.grand-oprning .modal-dialog { max-width: 100%; margin: 0;text-align: center;   }
.grand-oprning img{max-width:100%;}
.grand-oprning .modal-content{background-color: transparent;border:0}